<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Accidentes</title>
    <style>
        body {
            background-color: #121212; 
            color: white; 
            font-family: Arial, sans-serif;
        }
        h1, h2, h3 {
            color: #00ff99; 
        }
        #dash-container {
            margin: auto;
            width: 80%;
        }
    </style>
</head>
<body>
    <h1>Mapa de Accidentes de Tráfico en Bogotá</h1>
    <div id="dash-container"></div>
    <script type="text/javascript" src="http://localhost:5000/dash/dash_renderer.js"></script>
</body>
</html>
